@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
body {
  }
*{
    margin:0;
    padding: 0 ;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
#banner{
    height: 100vh;
    
    background-image: url(../res/images/yas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
.navigation{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}
#nav-logo{
    height: 50px;
    width: auto;
    margin-left: 60px ;
}
.nav-items{
    list-style: none;
    margin-left: 60px;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.main-text-bg{
    color: rgb(238, 11, 11);
   
}
.main-text{
    color: rgb(243, 10, 185);
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 25%;
    left: 30%;
    margin: 10px;
    background-color:transparent;
    opacity: 0.6;
}
